
.hero{
    padding-top: 60px !important;
}
.hero__content h5{
    color: #808dad;
    font-weight: 400;
}
.hero__content{
    padding-top: 50px;
}
.hero__img{
    position: relative;
    z-index: 9;

}
.hero__img img{
    border-radius: 50px 5px 5px 5px;
}

.hero__skills{
    text-align: left;
    width: 130px;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translateY(-50%);
    border-radius: 5px;
    background: #808dad26;
    z-index: 10;
}

.hero__skills h6{
    background: transparent;
    color: #fff;

}

.hero__skills span i{
    color: #01d293;
    background: transparent;
}

.hero__skills span{
    background: transparent;

}
.hero__experience{
    width: 150px;
    position: absolute;
    bottom: -10px;
    right: -5%;
    padding: 10px 20px;
    border-radius: 5px;
    background: #808dad26;
    z-index: 10;
}

.hero__experience span,
.hero__experience h5, 
.hero__experience h6{
background: transparent !important;
}
.hero__experience h6{
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 0.8rem;
}
.hero__experience span i{
    padding: 5px;
    color: #01d293;
    background: #808dad70;
    border-radius: 5px;
}